@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/*Configurações do html e do body*/
body, html{
    height: 100%;
    width: 100%;
    font-size: 1em;
    line-height: 1.8em;
    color: #667;
}

/*Configurações gerais das imagens*/
.img1, #img2, #img3{
    position: relative;
    opacity: 0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

/*Configurações gerais das div com class text*/
.text{
    position: absolute;
    width: 49%;
    top: 50%;
    left: 50%;
    margin: auto;
    letter-spacing: 8px;
    text-align: center;
    color: #000;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

/*Configurações gerais dos h1 com a class border*/
.border{
    background-color: #111;
    color: #fff;
    padding:20px;
}

/*Configurações da class img1*/
.img1{
    min-height: 100%;
    background-image:url(../imagens/image1.jpg); 
}

/*Configurações gerais de todas as sections*/
.section{
    text-align: center;
    padding: 50px 80px;
}

/*Configurações exclusivas da div com id section1*/
#section1{
    background-color:#f4f4f4;
    color:#666;
}

/*Configurações do id img2*/
#img2{
    min-height: 400px;
    background-image:url(../imagens/image2.jpg);

}

/*Configurações dos h1 com o id trans*/
#trans{
    background-color: transparent;
}

/*Configurações do id img3*/
#img3{
    min-height: 400px;
    background-image:url(../imagens/image3.jpg); 
}

/*Configurações das div com id section2e3*/
#section2e3{
    background-color: #282e34;
    color:#ddd;
}


