@charset "UTF-8";

/*telas menores*/
@media screen and (min-width:404px) and (max-width:600px) {
    header{
        font-size: 81%;
        height: 18vh;
    }
    main{
        font-size: 1em;
        line-height: 1.3;
    }
    footer{
        font-size: 80%;
        height: 13vh;
    }
}
/*tablets*/
@media screen and (min-width:768px) and (max-width:992px){
    header{
        height:17vh ;
        font-size: 100%;
    }
    main{
        font-size: 1em;
        line-height: 1.3em;
    }
    footer{
        font-size: 110%;
        height: 14vh;
    }
    
}

/*Laptops*/
@media screen and (min-width:992px) and (max-width:1200px){
    header{
        font-size: 90%;
        height: 16vh;
    }
    main{
        font-size: 1.1em;
        line-height: 1.5em;
    }
    footer{
        font-size: 120%;
        height: 15vh;
    }
}

/*telas maiores*/
@media screen and (min-width:1200px) {
    header{
        font-size: 115%;
        height: 15vh;
    }
    main{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    footer{
        font-size: 135%;
        height: 14vh;
    }
}