@charset "UTF-8";

@media screen and (max-width:600px) {
    header{
        font-size: 85.65%;
        height: 27vh;
    }
    footer{
        height: 17.5vh;
        font-size: 100%;
    }
}

@media screen and (min-width:600px) and (max-width:768px){
    header{
        font-size: 100%;
        height: 24vh;
    }
    p{
        line-height: 1.3em;
    }
    footer{
        height: 14vh;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    header{
        font-size: 140%;
        height: 24vh;
    }
    p{
        font-size: 1em;
        line-height: 1.3em;
    }
}

@media screen and (min-width:992px) and (max-width:1200px){
    header{
        font-size: 1.5em;
        height: 27vh;
    }
    main{
        width: 80%;
    }
    p, aside{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.7em;
    }
}
@media screen and (min-width:1200px) {
    header{
        font-size: 1.6em;
        height: 23vh;
    }
    main{
        width: 80%;
    }
    p, h2, aside{
        text-indent: 5px;
        font-size: 1.4em;
        line-height: 1.4em;
    }
}