@charset "UTF-8";

@media screen and (max-width: 375px){
    header{
        height: 150px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    header{
        height: 150px;
        font-size: 1.2em;
    }
    nav a{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size:1.1em;
    }
    footer{
        font-size: 1.2em;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    header{
        height: 150px;
        font-size: 1.3em;
    }
    h1{
        padding: 15px;
    }
    nav a{
        font-size: 1.1em;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size:1.1em;
    }
    footer{
        font-size: 1.2em;
    }
}
@media screen and (min-width:1200px){
    header{
        height: 150px;
        font-size: 1.5em;
    }
    h1{
        padding: 15px;
    }
    nav a{
        font-size: 1.1em;
    }
    h2{
        font-size: 1.4em;
    }
    p{
        font-size:1.3em;
    }
    footer{
        font-size: 1.2em;
    }
}