@charset "UTF-8";

img{
    padding-top:15px ;
    display: flex;
    margin: auto;
}

figcaption{
    font-size: 0.8em;
    text-align: center;
}
/*Estrutura do main*/
main{
    line-height: 1.1em;
    border-radius: 10px;
    background-color: white;
    width: 96%;
    margin: auto;
}

h3{
    line-height: 1.1em;
    padding: 5px;
    text-align: center;
}
h2{
    background-color: gray;
    line-height: 1.1em;
    text-align: center;
    font-size: 1.5em;
}


p{
    width: 95%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
}
#pad{
     padding: 10px;
}
aside{
    line-height: 1.1em;
    list-style: inside;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}    
aside > h2{
    color: white;
    background-color: #363636;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside  a{
    color: #363636;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}